---
permalink: /projects/
title: Projectes
layout: layouts/base.njk
---

<div class="bg-light p-3 mt-content">
	<div class="container-fluid px-3"> <!-- no extra padding on the container -->
	
		<div class="row justify-content-center"> <!-- optional: center align the grid -->
			<div class="col-12"> <!-- full-width column -->
			
				<!-- Actual grid row with gutters for spacing between cards -->
				<div class="row grid g-5" data-masonry='{"percentPosition": true }'>
					
					<div class="col-sm-6 col-lg-4 project-card grid-item">
						<div class="card">
							{% responsive_image_masonry "el-rifred", "El Rifred", "ratio ratio-3x4 mb-2" %}
							<div class="row">
								<a href="/project/casa-marull" class="card-hover-text stretched-link">El Rifed | Calonge i Sant Antoni, 2023</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-4 project-card grid-item">
						<div class="card">
							{% responsive_image_masonry "ca-la-carme", "Ca la Carme", "ratio ratio-1x1 mb-2" %}
							<div class="row">
								<a href="/project/casa-marull" class="card-hover-text stretched-link">Ca la Carme | Palamós, 2024</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-4 project-card grid-item">
						<div class="card">
							{% responsive_image_masonry "casa-marull", "Casa Marull", "ratio ratio-3x4 mb-2" %}
							<div class="row">
								<a href="/project/casa-marull" class="card-hover-text stretched-link">Casa Marull | Girona, 2024</a>
							</div>
						</div>
					</div><div class="col-sm-6 col-lg-4 project-card grid-item">
						<div class="card">
							{% responsive_image_masonry "can-llum", "Can Llum", "ratio ratio-1x1 mb-2" %}
							<div class="row">
								<a href="/project/casa-marull" class="card-hover-text stretched-link">Can Llum | Palamós, 2024</a>
							</div>
						</div>
					</div>
					<!-- more cards... -->

				</div>
			</div>
		</div>
	</div>
</div>


<!-- ImagesLoaded and Masonry -->
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var grid = document.querySelector('.grid'); // This selects the grid container

		// Initialize Masonry after all images are loaded
		
		imagesLoaded(grid, function() {
			var msnry = new Masonry(grid, {
				itemSelector: '.grid-item',
				percentPosition: true
			});

			// After Masonry layout completes, trigger reflow
			msnry.on('layoutComplete', function() {
				window.dispatchEvent(new Event('resize'));
			});
		});
	});
</script>
