---
permalink: /projects/
title: Projectes
layout: layouts/base.njk
---

<!doctype html>
<html lang="ca">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Arqué Estudi">
    <meta name="author" content="Arqué Estudi">
	<link rel="icon" href="/images/favicon.ico">

    <title>Projectes - Arqué</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" type="text/css">
    <!-- Custom styles for arqué -->
    <link href="/css/arqueestudi.css" rel="stylesheet" type="text/css">
	<!-- Import font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
	<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "b9ecb76f28fe4ba5824c7ea2ae2d8e71"}'></script><!-- End Cloudflare Web Analytics -->
  </head>

  <body class="d-flex flex-column min-vh-100">

    <header>
		<nav class="p-3 fixed-top bg-light">
			<div class="container-fluid d-flex flex-wrap">
				<a class="navbar-brand mt-2 me-4" href="/index">
					<img src="/images/logotip-negre.png" alt="arqué" width="70">
				</a>
				<ul class="nav nav-underline ms-auto">
					<li class="nav-item"><a href="/studio" class="nav-link link-body-emphasis px-2">Estudi</a></li>
					<li class="nav-item"><a href="/projects" class="nav-link link-body-emphasis px-2 active" aria-current="page">Projectes</a></li>
				</ul>
			</div>
		</nav>
    </header>

	<main role="main" class="flex-grow-1">
		<div class="bg-light p-3 mt-content">
			<div class="container-fluid px-3"> <!-- no extra padding on the container -->
			
				<div class="row justify-content-center"> <!-- optional: center align the grid -->
					<div class="col-12"> <!-- full-width column -->
					
						<!-- Actual grid row with gutters for spacing between cards -->
						<div class="row grid g-5" data-masonry='{"percentPosition": true }'>
							
							<div class="col-sm-6 col-lg-4 project-card grid-item">
								<div class="card">
									{% responsive_image_masonry "el-rifred", "El Rifred", "mb-2" %}
									<div class="row">
										<a href="/project/casa-marull" class="card-hover-text stretched-link">El Rifed | Calonge i Sant Antoni, 2023</a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-4 project-card grid-item">
								<div class="card">
									{% responsive_image_masonry "ca-la-carme", "Ca la Carme", "mb-2" %}
									<div class="row">
										<a href="/project/casa-marull" class="card-hover-text stretched-link">Ca la Carme | Palamós, 2024</a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-4 project-card grid-item">
								<div class="card">
									{% responsive_image_masonry "casa-marull", "Casa Marull", "mb-2" %}
									<div class="row">
										<a href="/project/casa-marull" class="card-hover-text stretched-link">Casa Marull | Girona, 2024</a>
									</div>
								</div>
							</div><div class="col-sm-6 col-lg-4 project-card grid-item">
								<div class="card">
									{% responsive_image_masonry "can-llum", "Can Llum", "mb-2" %}
									<div class="row">
										<a href="/project/casa-marull" class="card-hover-text stretched-link">Can Llum | Palamós, 2024</a>
									</div>
								</div>
							</div>
							<!-- more cards... -->

						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<!-- ImagesLoaded and Masonry -->
	<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			var grid = document.querySelector('.grid'); // This selects the grid container

			// Initialize Masonry after all images are loaded
			
			imagesLoaded(grid, function() {
				var msnry = new Masonry(grid, {
					itemSelector: '.grid-item',
					percentPosition: true
				});

				// After Masonry layout completes, trigger reflow
				msnry.on('layoutComplete', function() {
					window.dispatchEvent(new Event('resize'));
				});
			});
		});
	</script>
  </body>
</html>