---
permalink: /studio/
title: Estudi
layout: layouts/base.njk
---

<div class="bg-light p-3 mt-content">
  <div class="container-fluid d-flex flex-wrap">
      <div class="col-lg-3 mb-5">
  <p>Contecte</p>
  <p>Girona - Banyoles - Empordà
    <br>				
    <a href="mailto:info@arqueestudi.cat">info@arqueestudi.cat</a>
    <br>
    <a href="tel:+34673014966">673 014 966</a>
  </p>
  <p>
    <a href="https://www.instagram.com/arqueestudi">Instagram</a>
  </p>
</div>
      <div class="col-lg-6">
        <div class="mb-5">
  <p>Sobre nosaltres</p>
  <p>
    Arqué és un estudi d’arquitectura fundat per Guillem Quer i Marçal Roure l’any 2023. Creiem en l’arquitectura com una eina per transformar l’entorn de manera respectuosa i sostenible i busquem enriquir l’experiència humana mitjançant dissenys que, no només resolguin funcions, sinó que també generin emoció i benestar.
  </p>
  </div>
  <div>
  <p>Filosofia</p>
  <p>La nostra filosofia es fonamenta en la idea de crear una connexió profunda entre arquitectura, territori i societat.&nbsp;</p>
  <p>Treballem des d’una aproximació sensible al lloc, amb l'objectiu de generar espais que aportin valor al seu entorn i millorin la qualitat de vida de les persones. El nostre compromís en cada projecte consisteix a equilibrar tècnica, materialitat i emoció, amb una atenció meticulosa als detalls i als processos constructius.</p>
  <p>Apostem per l’eficiència energètica i l’ús de materials sostenibles. Recuperem tècniques i sistemes tradicionals, enriquint-los amb els avenços contemporanis per tal de dissenyar espais atemporals, duradors, adaptables i preparats per afrontar els reptes del futur.</p>
  </div>
      </div>
  </div>
</div>
